/* font reset */

@font-face {
    font-family: 'NanumSquare';
    src: url('/fonts/NanumSquareR.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'NanumSquareB';
    src: url('/fonts/NanumSquareB.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'NanumSquareEB';
    src: url('/fonts/NanumSquareEB.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'AvenirNextLTPro';
    src: url('/fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
}

