@charset "utf-8";
@import "public/sass/base.scss";
@import "public/sass/utils.scss";

.top-info-container {
	@include inlay;
	padding: 0 0 20px 20px;
	.tab {
		padding-top: 40px;
		ul {
			li {
				display: inline-block;
				position: relative;
				margin-right: 30px;
				padding-bottom: 16px;
				font: {
					size: 16px;
					family: $font-str;
				}
				a {
					color: #8e8e93;
				}
				&.selected {
					a {
						color: #000;
					}
					&:after {
						content: '';
						display: block;
						position: absolute;
						left: 50%;
						bottom: 0;
						width: 6px;
						height: 6px;
						background: $color-point;
						border-radius: 50%;
						transform: translate(-50%,0);
					}
				}
			}
		}
	}
	.search {
		margin-top: 30px;
		padding-right: 20px;
		> div {
			display: flex;
			flex-direction: row;
			select {
				width: 50%;
				&:first-child {
					margin-right: 5px;
				}
				&:last-child {
					margin-left: 5px;
				}
			}
		}
		button {
			width: 100%;
			height: 46px;
			margin-top: 16px;
			border: 1px solid #e5e5ea;
			border-radius: 8px;
			text-align: center;
		}
	}
	.location {
		margin-top: 8px;
		a {
			color: #484848;
		}
		em {
			color: $color-point;
		}
		a, em {
			&:before {
				content: '/';
				margin: 0 3px;	
				color: #484848;
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
		}
	}
	.c-tab {
		margin-top: 24px;
	}
	.party-w {
		display: flex;
		flex-direction: row;
		margin-top: 24px;
		.logo {
			width: 120px;
			margin-right: 16px;
			box-sizing: border-box;
			img {
				display: block;
				width: 100%;
				border: 1px solid #e5e5ea;
				border-radius: 8px;
			}
		}
		.info {
			position: relative;
			width: 60%;
			span {
				font-size: 15px;
			}
			h2 {
				padding-top: 6px !important;
			}
			> div {
				position: absolute;
				bottom: 0;
				width: 100%;
                color: #484848;
                max-height: 95px;
				overflow-x: hidden;
				overflow-y: scroll;
				p {
                    font-size: 12px;
					word-break: keep-all;
                    margin-top: 5px;
                    > span {
                        font-size: 13px;
                    }
                }
			}
		}
    }
    
}